## [Visual Studio / .NET]
# ビルド生成物
bin/
obj/
[Ee]xecutable/
[Log]s/

# Visual Studio ワークスペース設定
.vs/
*.user
*.userosscache
*.sln.docstates

# NuGet パッケージ
*.nupkg
# NuGet パッケージのリストア設定
project.lock.json
project.assets.json

# Fody 入力支援用スキーマ
FodyWeavers.xsd

## [OS / User Data]
# アプリの実行データ (タスク一覧)
tasks.json

# OS 生成ファイル
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## [Costura / Fody]
# Setting files are required, so NOT ignored:
# !FodyWeavers.xml
